{{include file="public/header" /}}

<!-- header top nav -->
{{include file="public/header_top_nav" /}}

<!-- search -->
{{include file="public/nav_search" /}}

<!-- header nav -->
{{include file="public/header_nav" /}}

<!-- goods category -->
{{include file="public/goods_category" /}}

<!-- content -->
<div class="am-container user-main">

    <!-- user menu start -->
    {{include file="public/user_menu" /}}
    <!-- user menu end -->

    <!-- content start -->
    <div class="user-content">
        <div class="user-content-body">
            <div class="am-alert am-alert-secondary" data-am-alert>
                <div class="available">
                    <span class="panel-value" style="font-size:40px;color:red;" >{{$data.bdamount}}</span>
                    <em>报单币</em>
                </div>
            </div>
            <div class="am-alert am-alert-secondary" data-am-alert>
                <div class="available">
                    <span class="panel-value" style="font-size:40px;color:red;" >{{$data.jjamount}}</span>
                    <em>奖金币</em>
                </div>
            </div>
            <div class="am-alert am-alert-secondary" data-am-alert>
                <div class="available">
                    <span class="panel-value" style="font-size:40px;color:red;" >{{$data.jfbamount}}</span>
                    <em>积分币</em>
                </div>
            </div>
            <div class="am-alert am-alert-secondary" data-am-alert>
                <div class="available">
                    <span class="panel-value" style="font-size:40px;color:red;" >{{$data.jfamount}}</span>
                    <em>积分</em>
                </div>
            </div>
            <div class="am-alert am-alert-secondary" data-am-alert>
                <div class="available">
                    <span class="panel-value" style="font-size:40px;color:red;" >{{$data.guquanamount}}</span>
                    <em>股权</em>
                </div>
            </div>



            <!-- 分页 -->

        </div>
    </div>
    <!-- content end -->
</div>

<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->