{{include file="public/header" /}}

<!-- header top nav -->
{{include file="public/header_top_nav" /}}

<!-- search -->
{{include file="public/nav_search" /}}

<!-- header nav -->
{{include file="public/header_nav" /}}

<!-- goods category -->
{{include file="public/goods_category" /}}

<!-- content -->
<div class="am-container user-main">

    <!-- user menu start -->
    {{include file="public/user_menu" /}}
    <!-- user menu end -->

    <!-- content start -->
    <div class="user-content">
        <div class="user-content-body">
            <section class="am-panel am-panel-default am-radius am-panel-default">
                <header class="am-panel-hd">
                    <h3 class="am-panel-title">报单币</h3>
                </header>
                <div class="am-panel-bd o-h">
                    <div class="am-fl panel-left">
                        <span class="panel-value" style="font-size:20px;color:red;">{{$data.bdamount}}</span>
                    </div>
                    <a href="{{:MyUrl('index/userassets/bd')}}" class="am-btn am-btn-secondary am-radius am-btn-xs am-fr">流水</a>
                </div>
            </section>
            <section class="am-panel am-panel-default am-radius am-panel-default">
                <header class="am-panel-hd">
                    <h3 class="am-panel-title">奖金币</h3>
                </header>
                <div class="am-panel-bd o-h">
                    <span class="panel-value" style="font-size:20px;color:red;" >{{$data.jjamount}}</span>
                    <a href="{{:MyUrl('index/userassets/jj')}}" class="am-btn am-btn-secondary am-radius am-btn-xs am-fr ">流水</a>
                </div>
            </section>
            <section class="am-panel am-panel-default am-radius am-panel-default">
                <header class="am-panel-hd">
                    <h3 class="am-panel-title">积分币</h3>
                </header>
                <div class="am-panel-bd o-h">
                    <span class="panel-value" style="font-size:20px;color:red;" >{{$data.jfbamount}}</span>
                    <a href="{{:MyUrl('index/userassets/jfb')}}" class="am-btn am-btn-secondary am-radius am-btn-xs am-fr ">流水</a>
                </div>
            </section>
            <section class="am-panel am-panel-default am-radius am-panel-default">
                <header class="am-panel-hd">
                    <h3 class="am-panel-title">积分</h3>
                </header>
                <div class="am-panel-bd o-h">
                    <span class="panel-value" style="font-size:20px;color:red;" >{{$data.jfamount}}</span>
                    <a href="{{:MyUrl('index/userassets/jf')}}" class="am-btn am-btn-secondary am-radius am-btn-xs am-fr ">流水</a>
                </div>
            </section>
            <section class="am-panel am-panel-default am-radius am-panel-default">
                <header class="am-panel-hd">
                    <h3 class="am-panel-title">股权</h3>
                </header>
                <div class="am-panel-bd o-h">
                    <span class="panel-value" style="font-size:20px;color:red;" >{{$data.guquanamount}}</span>
                    <a href="{{:MyUrl('index/userassets/gq')}}" class="am-btn am-btn-secondary am-radius am-btn-xs am-fr ">流水</a>
                </div>
            </section>

        </div>
    </div>
    <!-- content end -->
</div>

<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->